/* Sidebar nằm dưới Header (Header cao khoảng 60px) */
#sidebarMenu {
    top: 60px; 
    height: calc(100vh - 60px);
    padding-top: 1rem;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0,0,0,0.05);

}

/* Style từng item */
.nav-link-custom {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #444;
    text-decoration: none;
    border-radius: 0 50px 50px 0; /* Bo tròn 1 đầu kiểu Google */
    margin-bottom: 5px;
    font-weight: 500;
    transition: all 0.2s;
}

.nav-link-custom:hover {
    background-color: #f1f3f4;
    color: #1a73e8;
}

.nav-link-custom i {
    width: 24px;
    text-align: center;
    margin-right: 10px;
    color: #5f6368;
}

/* Trạng thái đang chọn */
.active-item {
    background-color: #e8f0fe !important; /* Xanh nhạt Google */
    color: #1a73e8 !important;
}
.active-item i {
    color: #1a73e8 !important;
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #9aa0a6;
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}

